body {
  background: #fff;
  color: #444;
  font: 18px Hoefler Text, bodyfont, serif;
  line-height: 30px;
  margin: 0.8em 1em;
  max-width: 40em; }


h1, h2, h3, h4 {
  color: black;
  font-family: Helvetica, sans-serif;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 1.5em;
}

h1 {
  font-size: 1.5em; }

h2 {
  margin-top: 2em;
  font-size: 1.3em; }

h3 {
  margin-top: 2em;
  font-size: 1.1em; }

h4 {
  font-size: 1em; }

.light {
  color: #b0b0b0;
  font-size: 0.8em;
  line-height: 1.4em; }

img {
  max-width: 100%;
  border: none; }

code {
    background: lightgoldenrodyellow;
    font-family: inherit;
    padding: 0px 2px;
    color: darkgoldenrod;
}

blockquote {
  border-left: 0.3em solid #b0b0b0;
  margin: 0px;
  padding: 0 12px 0 12px; }

p {
  text-indent: 0px; }

p.caption {
  font-size: 80%;
  margin-top: 0; }

a {
  color: #227ce8;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

a:visited {
  color: #60B;
}

ul, ol {
  padding: 0; }

ul li, ol li {
  line-height: 30px;
  padding: 6px 0 0 0; }

article ul, article ol {
  padding: 0em 0em 0em 1em; }

pre {
  font-size: 0.65em;
  line-height: 1.3em;
  overflow: auto;
  padding: 7px; }

.page-title {
  font-size: 1.5em;
  font-style: italic;
  margin-bottom: 0.5em;
  color: goldenrod; }

.page-title small {
  font-style: normal;
  color: #444;
  font-size: 14px;
}

.article-title {
  margin-top: 0;
  color: goldenrod;
}

.sidebar {
    position: fixed;
    font-family: Helvetica, sans-serif; }

.sidebar a {
    border: none; }

.rounded-img {
    border-radius: 5px; }

.sidebar .name a {
    text-transform: uppercase;
    font-size: 0.75em;
    color: black; }

.sidebar .meta a {
    color: black; }

.sidebar .meta a:hover {
    text-decoration: none;
    color: #227ce8; }

.centered-block {
    align-content: center;
    justify-content: center;
    display: flex; }

.sidebar .meta .icon {
    margin: 5px; }

.sidebar nav {
    margin: 15px 0 0 0; }

.sidebar nav a {
    padding: 3px 0;
    color: black;
    font-weight: bold;
    font-size: 12px;
    display: block; }

.sidebar nav a:hover {
    color: #227ce8; }

.sidebar nav ul {
    margin: 0;
    padding: 0; }

.sidebar nav li {
    line-height: 18px;
    padding: 0;
    list-style: none; }

.simple-list li {
  line-height: 1.2em;
  list-style-type: none;
  padding-bottom: 10px; }

.article-list p {
  margin-top: 0.3em;
}

.article-list ol {
  margin-top: 0; }

.column-right {
  max-width: 650px;
  margin-left: 120px;
  margin-right: 20px;
  margin-bottom: 50px; }

.highlight {
  border: 1px solid lightblue; }
